<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Sprinter 3000</title>
</head>

<body>
    <h1>User Story Manager</h1><br><br>
    <form action="/story" method='GET'>
        <input type="submit" value="Add a new user story" />
    </form><br><br>
    <table style="width:100%" border="1">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>User Story</th>
            <th>Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for sublist in table %}
            <tr>
                <td>{{sublist[0]}}</td>
                <td>{{sublist[1]}}</td>
                <td>{{sublist[2]}}</td>
                <td>{{sublist[3]}}</td>
                <td>{{sublist[4]}}</td>
                <td>{{sublist[5]}}</td>
                <td>{{sublist[6]}}</td>
                <td>
                    <a href="/story/{{sublist[0]}}">
                        <img src="https://image.freepik.com/free-icon/edit-interface-symbol_318-61460.jpg" alt="Edit" width="20px" height="20px" border="0"/>
                    </a>
                </td>
                <td>
                    <form action="/list" method='POST'>
                        <input name="delete" type="image" src="https://image.flaticon.com/icons/svg/17/17152.svg" alt="Delete" width="20x" height="20px" border="0">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>